.chat-item {
    display: flex;
    flex-direction: column;
}

.chat-item-table, .chat-item-card {
    display: none;
}

@media (min-width: 768px) {
    .chat-item-table {
        display: table;
        width: 100%;
    }
    .chat-item-title {
        display: table-cell;
        width: 30%;
        padding: 8px;
        cursor: pointer;
    }
    .chat-item-badges-container {
        display: table-cell;
        padding: 8px;
        width: 50%;
    }
    .chat-item-badges {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: center;
        justify-content: flex-start;
    }
    .chat-item-buttons {
        display: table-cell;
        width: 20%;
        padding: 8px;
    }
}

@media (max-width: 767px) {
    .chat-item-card {
        display: block;
        border: 1px solid #ddd;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    .chat-item-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }
    .chat-item-badges-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .chat-item-badges {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: center;
    }
}
