/* App.css */

/* General Container and Layout Styles */
.container-fluid {
}

/* ChatThread List and Assistant List Styles */
.list-group {
    margin-top: 20px;
}

/* Button Styles */
.btn {
    margin-bottom: 20px;
}

/* Modal Styles */
.modal-header, .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    padding: 20px;
}

/* Form Styles */
.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
}

/* Nav Styles */
.nav-tabs {
    margin-bottom: 20px;
}

.nav-link {
    cursor: pointer;
}

.nav-link.active {
    background-color: #007bff;
    color: white;
}

/* List Group Item Styles */
.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

/* Specific Component Styles */
.chat-list, .assistant-list {
    height: 70vh;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}


.assistants-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.assistant-item {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.remove-assistant-button {
    color: #dc3545;
    margin-left: 5px;
}

.toggle-source-btn {
    float: right;
    margin-left: auto;
}

.source-modal .modal-dialog {
    max-width: 80%;
}

.segment-container {
    max-height: 70vh;
    overflow-y: auto;
}

.segment-text {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 60vh;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f7f7f7;
}

.custom-badge {
    background-color: #f8f9fa; /* Light background */
    border: 1px solid #ced4da; /* Border color */
    color: #6c757d; /* Text color */
    border-radius: 20px; /* Rounded corners */
    padding: 0.5rem 1rem; /* Padding */
    display: flex;
    align-items: center;
    height: 2.5rem;
}

